# Python
*.py[cod] # refactored to include compiled Python files, optimized bytecode files and Windows dynamic modules
__pycache__/

# Django
db.sqlite3
*.log
.env


# Virtualenv
artoon5d_env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Media/static (optional)
media/
staticfiles/