{% extends 'artoon2d_blog/base.html' %}
  
{% block title %}Welcome to ARTOON2D Blog{% endblock %}

{% block content %}
<div class="about-page-wrap">
<h1>About ARTOON2D <br>- The Blog -</h1>
<p>Welcome to the ARTOON2D blog, your one-stop source for all things related to recreational art for inquisitive children and their parents.</p>

<p>Our mission is to inspire creativity and imagination by providing engaging articles, tutorials and resources that make art fun and accessible for all.</p> 
<p>A place for people of all ages to share experiences and the joy of learn and play.</p>
<p>Here you can follow authors, like posts, and explore content by category and tags.</p>

<p>Whether you're a parent looking for creative activities to do with your children or a child eager to explore the world of art we' ve got you covered.</p> 
<p>Join us in this colorful and exciting world because this is a place where creativity knows no bounds!</p>
</div>
{% endblock %}